.owl-theme .owl-controls .owl-page span,
.social-icon li a,
.social-icon li a i,
.img-hover,
.icon,
.tags li a,
#nav ul li a,
.information-nav li a,
.owl-theme .owl-controls .owl-buttons div,
.theme-btn,
.store-logo li a,
.store-logo li a img,
.accomodation,
.weather .panel-heading a,
.accomodation .description,
.information-nav li a:after,
.ceremony-date,
.ceremony-title,
.ceremony .box,
.round,
.arrow-section,
.ceremony:nth-child(even) .arrow-section:after,
.ceremony:nth-child(odd) .arrow-section:after,
#profile-pager .item .person-head,
.form-rsvp label i.fa,
.prev-post a:hover i,
.prev-post a:hover em,
.next-post a:hover i,
.next-post a:hover em,
.wellwisher-postmata span a,
#gallery-cats li a,
.gallery-item,
.theme-pagination ul li.next a,
.theme-pagination ul li.prev a,
.theme-pagination ul li a,
.popular-post-tabs ul.nav-justified li a,
#sidebar-slider.owl-theme .owl-controls .owl-buttons i,
.closepersons .description .name,
#nav ul li .dropdown,
.po-prev,
.po-next,
.form-suggest,
.accomodation img,
#nav ul li{
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}